In [42]:
import sqlalchemy as sqa

sqa.__version__

'1.2.0b4'

In [43]:
engine = sqa.create_engine('postgres://iyawmvlp:Yx3-iOUp5JwSs3h_qvN7flNwAiG3aLkE@baasu.db.elephantsql.com:5432/iyawmvlp', echo = True)

In [44]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [45]:
class Room(Base):
    __tablename__ = 'rooms'
    __table_args__ = {'extend_existing': True}
    
    room_id = sqa.Column(sqa.Integer, primary_key = True)
    floor = sqa.Column(sqa.Integer)
    square_footage = sqa.Column(sqa.Integer)
    occupant = sqa.Column(sqa.String)
    rent = sqa.Column(sqa.Float)
    lease_end_date = sqa.Column(sqa.Date)

    def __repr__(self):
        return "Room(room_id = {}, floor = {}, square_footage = {}, occupant = {}, rent = {}, lease_end_date = {})".format(
            self.room_id,
            self.floor,
            self.square_footage,
            self.occupant,
            self.rent,
            self.lease_end_date)

In [46]:
Room.__table__

Table('rooms', MetaData(bind=None), Column('room_id', Integer(), table=<rooms>, primary_key=True, nullable=False), Column('floor', Integer(), table=<rooms>), Column('square_footage', Integer(), table=<rooms>), Column('occupant', String(), table=<rooms>), Column('rent', Float(), table=<rooms>), Column('lease_end_date', Date(), table=<rooms>), schema=None)

In [47]:
Base.metadata.create_all(engine)

2017-11-17 12:40:09,974 INFO sqlalchemy.engine.base.Engine select version()
2017-11-17 12:40:09,977 INFO sqlalchemy.engine.base.Engine {}
2017-11-17 12:40:10,024 INFO sqlalchemy.engine.base.Engine select current_schema()
2017-11-17 12:40:10,032 INFO sqlalchemy.engine.base.Engine {}
2017-11-17 12:40:10,097 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-11-17 12:40:10,112 INFO sqlalchemy.engine.base.Engine {}
2017-11-17 12:40:10,137 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-11-17 12:40:10,139 INFO sqlalchemy.engine.base.Engine {}
2017-11-17 12:40:10,185 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2017-11-17 12:40:10,187 INFO sqlalchemy.engine.base.Engine {}
2017-11-17 12:40:10,253 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-11-17 12:40:10,255 INFO sqlalchemy.engine.base.Engine {'name': 'rooms'}
2017-11-17 12:40:10,284 INFO sqlalchemy.engine.base.Engine
CREATE TABLE rooms (
	room_id SERIAL NOT NULL,
	floor INTEGER,
	square_footage INTEGER,
	occupant VARCHAR,
	rent FLOAT,
	lease_end_date DATE,
	PRIMARY KEY (room_id)
)


2017-11-17 12:40:10,286 INFO sqlalchemy.engine.base.Engine {}
2017-11-17 12:40:10,322 INFO sqlalchemy.engine.base.Engine COMMIT

In [51]:
session.new

IdentitySet([])

In [52]:
session.rollback

In [53]:
from faker import Faker
from random import uniform
from random import randint
faker = Faker()

In [54]:
for i in range(0,50):
    name = faker.first_name() + " " + faker.last_name()
    price = "{0:.2f}".format(uniform(300, 1500))
    room1 = Room(floor = randint(1, 12), square_footage = randint(400, 1500), occupant = name, rent = price, lease_end_date = faker.date())
    session.rollback()
    session.add(room1)
    session.new
    session.commit()

2017-11-17 12:40:24,265 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:24,268 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:24,272 INFO sqlalchemy.engine.base.Engine {'floor': 9, 'square_footage': 1139, 'occupant': 'Michael Norman', 'rent': '511.91', 'lease_end_date': '1973-01-25'}
2017-11-17 12:40:24,349 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:24,383 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:24,394 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:24,404 INFO sqlalchemy.engine.base.Engine {'floor': 5, 'square_footage': 1452, 'occupant': 'James Cook', 'rent': '618.97', 'lease_end_date': '1971-11-04'}
2017-11-17 12:40:24,456 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:24,490 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:24,500 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:24,507 INFO sqlalchemy.engine.base.Engine {'floor': 11, 'square_footage': 494, 'occupant': 'Timothy Moore', 'rent': '472.21', 'lease_end_date': '1994-06-23'}
2017-11-17 12:40:24,561 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:24,590 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:24,593 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:24,595 INFO sqlalchemy.engine.base.Engine {'floor': 4, 'square_footage': 662, 'occupant': 'Mary Blake', 'rent': '829.05', 'lease_end_date': '1971-08-16'}
2017-11-17 12:40:24,650 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:24,678 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:24,682 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:24,692 INFO sqlalchemy.engine.base.Engine {'floor': 1, 'square_footage': 1421, 'occupant': 'David Thompson', 'rent': '1494.40', 'lease_end_date': '1997-08-11'}
2017-11-17 12:40:24,748 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:24,772 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:24,774 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:24,779 INFO sqlalchemy.engine.base.Engine {'floor': 8, 'square_footage': 1014, 'occupant': 'Jeffery Rogers', 'rent': '303.91', 'lease_end_date': '1973-10-25'}
2017-11-17 12:40:24,823 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:24,847 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:24,849 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:24,857 INFO sqlalchemy.engine.base.Engine {'floor': 9, 'square_footage': 1484, 'occupant': 'Mariah Johnston', 'rent': '837.07', 'lease_end_date': '1978-03-24'}
2017-11-17 12:40:24,899 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:24,969 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:24,972 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:24,985 INFO sqlalchemy.engine.base.Engine {'floor': 11, 'square_footage': 1359, 'occupant': 'Juan Webster', 'rent': '728.32', 'lease_end_date': '1970-12-12'}
2017-11-17 12:40:25,041 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:25,069 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:25,071 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:25,078 INFO sqlalchemy.engine.base.Engine {'floor': 4, 'square_footage': 462, 'occupant': 'Derrick Davis', 'rent': '1314.46', 'lease_end_date': '1997-09-21'}
2017-11-17 12:40:25,122 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:25,166 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:25,171 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:25,176 INFO sqlalchemy.engine.base.Engine {'floor': 2, 'square_footage': 1009, 'occupant': 'Nichole Brown', 'rent': '544.90', 'lease_end_date': '1971-04-19'}
2017-11-17 12:40:25,229 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:25,295 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:25,297 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:25,299 INFO sqlalchemy.engine.base.Engine {'floor': 7, 'square_footage': 773, 'occupant': 'Nicholas Terry', 'rent': '609.64', 'lease_end_date': '1984-06-21'}
2017-11-17 12:40:25,346 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:25,378 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:25,385 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:25,389 INFO sqlalchemy.engine.base.Engine {'floor': 11, 'square_footage': 948, 'occupant': 'Richard Proctor', 'rent': '390.44', 'lease_end_date': '1990-03-13'}
2017-11-17 12:40:25,440 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:25,468 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:25,470 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:25,472 INFO sqlalchemy.engine.base.Engine {'floor': 11, 'square_footage': 945, 'occupant': 'Rachel Koch', 'rent': '651.88', 'lease_end_date': '1971-08-04'}
2017-11-17 12:40:25,518 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:25,543 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:25,548 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:25,553 INFO sqlalchemy.engine.base.Engine {'floor': 9, 'square_footage': 1056, 'occupant': 'Jonathan Cochran', 'rent': '1456.64', 'lease_end_date': '2004-03-24'}
2017-11-17 12:40:25,594 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:25,617 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:25,619 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:25,624 INFO sqlalchemy.engine.base.Engine {'floor': 11, 'square_footage': 423, 'occupant': 'Amber Rodriguez', 'rent': '1294.50', 'lease_end_date': '1992-12-17'}

2017-11-17 12:40:25,668 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:25,696 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:25,698 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:25,703 INFO sqlalchemy.engine.base.Engine {'floor': 3, 'square_footage': 1479, 'occupant': 'Brian Castro', 'rent': '537.94', 'lease_end_date': '1971-12-03'}
2017-11-17 12:40:25,752 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:25,790 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:25,792 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:25,804 INFO sqlalchemy.engine.base.Engine {'floor': 10, 'square_footage': 978, 'occupant': 'Jennifer Roberts', 'rent': '1107.77', 'lease_end_date': '2000-03-28'}
2017-11-17 12:40:25,849 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:25,875 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:25,877 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:25,882 INFO sqlalchemy.engine.base.Engine {'floor': 11, 'square_footage': 561, 'occupant': 'Jay Bryant', 'rent': '1366.46', 'lease_end_date': '2014-03-10'}
2017-11-17 12:40:25,924 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:25,952 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:25,954 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:25,957 INFO sqlalchemy.engine.base.Engine {'floor': 7, 'square_footage': 464, 'occupant': 'Mathew Scott', 'rent': '726.13', 'lease_end_date': '2011-12-01'}
2017-11-17 12:40:26,003 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:26,032 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:26,034 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:26,036 INFO sqlalchemy.engine.base.Engine {'floor': 9, 'square_footage': 1060, 'occupant': 'Eric Thompson', 'rent': '515.51', 'lease_end_date': '1973-06-14'}
2017-11-17 12:40:26,101 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:26,126 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:26,129 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:26,131 INFO sqlalchemy.engine.base.Engine {'floor': 6, 'square_footage': 1375, 'occupant': 'Theresa Phillips', 'rent': '1116.34', 'lease_end_date': '2008-06-01'}
2017-11-17 12:40:26,175 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:26,200 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:26,202 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:26,204 INFO sqlalchemy.engine.base.Engine {'floor': 6, 'square_footage': 996, 'occupant': 'John Lowe', 'rent': '925.19', 'lease_end_date': '2017-08-06'}
2017-11-17 12:40:26,247 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:26,272 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:26,274 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:26,280 INFO sqlalchemy.engine.base.Engine {'floor': 9, 'square_footage': 683, 'occupant': 'Christopher Frederick', 'rent': '894.99', 'lease_end_date': '1978-10-27'}
2017-11-17 12:40:26,327 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:26,351 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:26,353 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:26,355 INFO sqlalchemy.engine.base.Engine {'floor': 9, 'square_footage': 735, 'occupant': 'Timothy Lane', 'rent': '605.70', 'lease_end_date': '1980-12-04'}
2017-11-17 12:40:26,397 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:26,421 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:26,424 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:26,431 INFO sqlalchemy.engine.base.Engine {'floor': 2, 'square_footage': 1305, 'occupant': 'Rachel Gonzales', 'rent': '1124.58', 'lease_end_date': '1989-02-18'}
2017-11-17 12:40:26,477 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:26,504 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:26,506 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:26,508 INFO sqlalchemy.engine.base.Engine {'floor': 1, 'square_footage': 1278, 'occupant': 'Stephen Pitts', 'rent': '871.31', 'lease_end_date': '2001-07-29'}
2017-11-17 12:40:26,554 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:26,588 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:26,590 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:26,592 INFO sqlalchemy.engine.base.Engine {'floor': 4, 'square_footage': 1256, 'occupant': 'Richard Gonzales', 'rent': '1331.79', 'lease_end_date': '1975-09-26'}
2017-11-17 12:40:26,641 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:26,676 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:26,678 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:26,683 INFO sqlalchemy.engine.base.Engine {'floor': 2, 'square_footage': 1090, 'occupant': 'Darrell Paul', 'rent': '1434.17', 'lease_end_date': '1995-06-04'}
2017-11-17 12:40:26,752 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:26,777 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:26,779 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:26,780 INFO sqlalchemy.engine.base.Engine {'floor': 3, 'square_footage': 1133, 'occupant': 'April Jones', 'rent': '526.96', 'lease_end_date': '1996-01-30'}
2017-11-17 12:40:26,824 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:26,849 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:26,851 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:26,853 INFO sqlalchemy.engine.base.Engine {'floor': 2, 'square_footage': 1463, 'occupant': 'Susan Rogers', 'rent': '436.99', 'lease_end_date': '1984-09-08'}

2017-11-17 12:40:26,900 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:26,925 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:26,928 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:26,930 INFO sqlalchemy.engine.base.Engine {'floor': 12, 'square_footage': 988, 'occupant': 'Heather Evans', 'rent': '542.88', 'lease_end_date': '1984-03-17'}
2017-11-17 12:40:26,976 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:27,008 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:27,011 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:27,019 INFO sqlalchemy.engine.base.Engine {'floor': 5, 'square_footage': 830, 'occupant': 'Michael Johnson', 'rent': '1019.27', 'lease_end_date': '2002-05-05'}
2017-11-17 12:40:27,074 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:27,103 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:27,106 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:27,108 INFO sqlalchemy.engine.base.Engine {'floor': 3, 'square_footage': 969, 'occupant': 'Joseph Chandler', 'rent': '982.19', 'lease_end_date': '1980-10-26'}
2017-11-17 12:40:27,185 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:27,212 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:27,214 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:27,219 INFO sqlalchemy.engine.base.Engine {'floor': 1, 'square_footage': 873, 'occupant': 'Brandon Smith', 'rent': '324.47', 'lease_end_date': '1981-02-19'}
2017-11-17 12:40:27,261 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:27,285 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:27,288 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:27,290 INFO sqlalchemy.engine.base.Engine {'floor': 2, 'square_footage': 1039, 'occupant': 'Paul Mcclure', 'rent': '1088.53', 'lease_end_date': '1999-07-14'}
2017-11-17 12:40:27,337 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:27,363 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:27,365 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:27,372 INFO sqlalchemy.engine.base.Engine {'floor': 4, 'square_footage': 1178, 'occupant': 'Larry Cochran', 'rent': '1111.02', 'lease_end_date': '1974-04-24'}
2017-11-17 12:40:27,424 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:27,451 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:27,453 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:27,456 INFO sqlalchemy.engine.base.Engine {'floor': 10, 'square_footage': 1174, 'occupant': 'Rhonda Vargas', 'rent': '1375.08', 'lease_end_date': '2014-03-12'}
2017-11-17 12:40:27,507 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:27,540 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:27,542 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:27,544 INFO sqlalchemy.engine.base.Engine {'floor': 7, 'square_footage': 1285, 'occupant': 'Timothy Johnson', 'rent': '1239.39', 'lease_end_date': '2000-04-11'}
2017-11-17 12:40:27,626 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:27,651 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:27,654 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:27,655 INFO sqlalchemy.engine.base.Engine {'floor': 8, 'square_footage': 819, 'occupant': 'Dominique Parker', 'rent': '428.64', 'lease_end_date': '1983-10-20'}
2017-11-17 12:40:27,707 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:27,733 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:27,736 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:27,742 INFO sqlalchemy.engine.base.Engine {'floor': 4, 'square_footage': 1306, 'occupant': 'Mary Johnson', 'rent': '1077.40', 'lease_end_date': '1985-10-31'}
2017-11-17 12:40:27,784 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:27,811 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:27,813 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:27,818 INFO sqlalchemy.engine.base.Engine {'floor': 9, 'square_footage': 517, 'occupant': 'Lawrence Mcfarland', 'rent': '903.53', 'lease_end_date': '1999-09-27'}
2017-11-17 12:40:27,928 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:27,955 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:27,957 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:27,958 INFO sqlalchemy.engine.base.Engine {'floor': 1, 'square_footage': 940, 'occupant': 'Patrick Oconnell', 'rent': '1257.72', 'lease_end_date': '2003-12-28'}
2017-11-17 12:40:28,020 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:28,053 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:28,055 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:28,057 INFO sqlalchemy.engine.base.Engine {'floor': 4, 'square_footage': 792, 'occupant': 'Keith Johnson', 'rent': '606.16', 'lease_end_date': '1977-09-30'}
2017-11-17 12:40:28,195 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:28,220 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:28,223 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:28,224 INFO sqlalchemy.engine.base.Engine {'floor': 5, 'square_footage': 843, 'occupant': 'Joanna Rollins', 'rent': '1344.22', 'lease_end_date': '1997-11-30'}
2017-11-17 12:40:28,267 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:28,291 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:28,293 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id

2017-11-17 12:40:28,298 INFO sqlalchemy.engine.base.Engine {'floor': 10, 'square_footage': 811, 'occupant': 'Sydney Delgado', 'rent': '728.30', 'lease_end_date': '1981-04-05'}
2017-11-17 12:40:28,347 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:28,379 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:28,381 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:28,386 INFO sqlalchemy.engine.base.Engine {'floor': 8, 'square_footage': 1330, 'occupant': 'Wendy Myers', 'rent': '596.02', 'lease_end_date': '2011-04-25'}
2017-11-17 12:40:28,438 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:28,461 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:28,463 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:28,465 INFO sqlalchemy.engine.base.Engine {'floor': 5, 'square_footage': 545, 'occupant': 'James Clarke', 'rent': '1436.23', 'lease_end_date': '2003-10-30'}
2017-11-17 12:40:28,505 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:28,529 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:28,531 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:28,534 INFO sqlalchemy.engine.base.Engine {'floor': 3, 'square_footage': 1098, 'occupant': 'Jeremiah Walton', 'rent': '324.22', 'lease_end_date': '1983-08-12'}
2017-11-17 12:40:28,581 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:28,612 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:28,615 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:28,623 INFO sqlalchemy.engine.base.Engine {'floor': 4, 'square_footage': 1431, 'occupant': 'Dana Kerr', 'rent': '1281.57', 'lease_end_date': '1976-07-02'}
2017-11-17 12:40:28,677 INFO sqlalchemy.engine.base.Engine COMMIT
2017-11-17 12:40:28,700 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-11-17 12:40:28,703 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (floor, square_footage, occupant, rent, lease_end_date) VALUES (%(floor)s, %(square_footage)s, %(occupant)s, %(rent)s, %(lease_end_date)s) RETURNING rooms.room_id
2017-11-17 12:40:28,707 INFO sqlalchemy.engine.base.Engine {'floor': 6, 'square_footage': 1444, 'occupant': 'Teresa Johnson', 'rent': '629.42', 'lease_end_date': '1990-12-18'}
2017-11-17 12:40:28,758 INFO sqlalchemy.engine.base.Engine COMMIT